{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="{% static 'static/styles/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'static/scripts/main.js' %}"></script>
    <script src="{% static 'static/scripts/underscore-min.js' %}"></script>
</head>
<body>
    <section class="main-section">
        <!--Form area-->
        <div class="todo-area">
            <h1 class="main-section__caption">To-do list</h1>
            <form id="main-section__form" name="action-form">
                <input class="main-section__input" type="text" size="50"  placeholder="Enter ur todo">
                <button type="submit" id="add-todo">add</button>
                <ul id="todo-list">
                </ul>
            </form>
        </div>
        <footer class="footer">
            <!--Pagination area-->
            <div id="navigation">
            <a href="#" class="page currentPage">1</a>
            </div>
            <!--Footer area-->
            <div class="actionButtons">
                <div class="footer_left">
                    <div class="counter not-finished">
                        Not finished: 0
                    </div>
                    <div class="counter finished">
                        Finished: 0
                    </div>
                </div>
                <div class="middle-butons">
                    <button form="main-section__form" class="button choose-all" type="button">Finish all</button>
                    <button form="main-section__form" class="button delete-finished" type="button">Delete all finished</button>
                    <button form="main-section__form" class="button clear-all" type="button">Clear all</button>
                </div>
                <div class="footer_right">
                    <div class="radiobuttons-Area">
                        <p>Show elements:</p>
                        <div class="radioButton-container">
                            <input class="radioButton checkedButton" id="radio1" form="main-section__form" name="showElements" type="radio" checked>
                            <label for="radio1">All</label>
                        </div>
                        <div class="radioButton-container">
                            <input class="radioButton" id="radio2" form="main-section__form" name="showElements" type="radio">
                            <label for="radio2">Active</label>
                        </div>
                        <div class="radioButton-container">
                            <input class="radioButton" id="radio3" form="main-section__form" name="showElements" type="radio">
                            <label for="radio3">Completed</label>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>