* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section {
    width: 100%;
    max-width: 1000px;
    min-height: 400px;
    background: #ECC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.main-section__caption,
#main-section__form {
    text-align: center;
}

.main-section__caption {
    font: 600 27px 'Impact', sans-serif;
    letter-spacing: 0.1em;
}

#add-todo {
    border-radius: 10px;
    outline: none;
    font: 400 18px 'Times New Roman', sans-serif;
    width: 60px;
    height: 30px;
    color: #000;
    background-color: lightgrey;
}

.done .list-element__content {
    text-decoration: line-through;
}

.footer {
    width: 80%;
    margin: 0 auto 20px auto;
}

#todo-list {
    list-style-type: none;
}

.main-section__input {
    margin-bottom: 30px;
    height: 30px;
}


.list-element {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 18px 'Courier New', sans-serif;
    /*text-overflow: ellipsis;*/
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;

}

.list-element__content {
    display: inline;
    word-wrap: break-word;
    max-width: 700px;
}

#navigation {
    min-height: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
}

.page {
    display: block;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}

.page:hover {
    cursor: pointer;
    background-color: #C0C0BC;
}

.actionButtons {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.button {
    background-color: lightgrey;
    border-radius: 10px;
    outline: none;
    font: 400 18px 'Times New Roman', sans-serif;
    height: 35px;
    width: 100px;
}

.delete-finished {
    font: 400 16px 'Times New Roman', sans-serif;
    width: 127px;
    display: none;
}


.checkElement {
    margin-right: 10px;
}

.clear-todo {
    margin-left: 10px;
}

.currentPage {
    background-color: grey;
}